* {
    background-color: beige;
}
h1 {
    text-align: center;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
a {
    text-decoration: none;
    padding: 10px;
    background-color: aquamarine;
}
p {
    font-size: 1.5rem;
}